@font-face {
  font-family: Light;
  src: url("../Font/AkzidenzGroteskBE-Light.ttf");
}

@font-face {
  font-family: MediumCd;
  src: url("../Font/AkzidenzGroteskBE-MdCn.otf");
}

@font-face {
  font-family: Regular;
  src: url("../Font/AkzidenzGroteskBE-Regular.ttf");
}

::-webkit-scrollbar {
  width: 5px;
  background: #242423;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #242423;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #F5CB5C;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #F5CB5C;
}

.Modal::-webkit-scrollbar {
  width: 0px;
}

html {
  scroll-behavior: smooth;
  background-color: #242423;
}

body {
  font-family: MediumCd;
  color: #FFFFFF;
  overflow-x: hidden;
}


#Section_02 {
  margin: 0;
  width: 100vw;
  height: 90vh;
  background-color: #242423;
  position: relative;
}

.Continut_S02 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 250px;
}

.Titlu1_02 {
  margin: 0;
  font-size: 100px;
  position: absolute;
  color: #F5CB5C;
  z-index: 3;
  top: 100px;
  left: 105px;
}

.Titlu2_02 {
  margin: 0;
  font-size: 100px;
  position: absolute;
  color: #FFFFFF;
  z-index: 2;
  top: 100px;
  left: 100px;
}

.Continut_S02 ul {
  list-style: none;
}

.Continut_S02 li {
  position: relative;
  display: inline-block;
  margin-top: 5%;
  margin-left: 4%;
  width: 20%;
  height: 50vh;
}

.Continut_S02 button {
  all: unset;
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 50vh;
}

.Card1_02 {
  width: 100%;
  height: 100%;
  text-align: center;
}

.Card1_02 h2 {
  text-decoration: none;
  position: absolute;
  margin: 0;
  font-size: 60px;
  bottom: 20px;
  top: 75%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
}

.Img_Card1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../Poze/DR1.jpg");
  background-size: cover;
  background-position: right;
  z-index: 3;
  filter: grayscale(100%);
  filter: blur(0px);
  -webkit-filter: blur(0px);
  border-radius: 100px;
  transition: 0.5s;
}

.OverlayImg_Card1 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: #242423;
  opacity: 0.5;
  border-radius: 100px;
  transition: 0.5s;
}

.Card1_02:hover .Img_Card1 {
  -webkit-filter: blur(8px) grayscale(100%);
}

.Card1_02:hover .OverlayImg_Card1 {
  -webkit-filter: blur(8px);
  background-color: #F5CB5C;
}

.Card2_02 {
  width: 100%;
  height: 100%;
  text-align: center;
}

.Card2_02 h2 {
  position: absolute;
  margin: 0;
  font-size: 60px;
  bottom: 20px;
  top: 75%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
}

.Img_Card2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../Poze/DR2.jpg");
  background-size: cover;
  background-position: 60% 50%;
  z-index: 3;
  filter: grayscale(100%);
  filter: blur(0px);
  -webkit-filter: blur(0px);
  border-radius: 100px;
  transition: 0.5s;
}

.OverlayImg_Card2 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: #242423;
  opacity: 0.5;
  border-radius: 100px;
  transition: 0.5s;
}

.Card2_02:hover .Img_Card2 {
  -webkit-filter: blur(8px) grayscale(100%);
}

.Card2_02:hover .OverlayImg_Card2 {
  -webkit-filter: blur(8px);
  background-color: #F5CB5C;
}

.Card3_02 {
  width: 100%;
  height: 100%;
  text-align: center;
}

.Card3_02 h2 {
  position: absolute;
  margin: 0;
  font-size: 60px;
  bottom: 20px;
  top: 75%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
}

.Img_Card3 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../Poze/DR3.jpg");
  background-size: cover;
  background-position: 30% 50%;
  z-index: 3;
  filter: grayscale(100%);
  filter: blur(0px);
  -webkit-filter: blur(0px);
  border-radius: 100px;
  transition: 0.5s;
}

.OverlayImg_Card3 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: #242423;
  opacity: 0.5;
  border-radius: 100px;
  transition: 0.5s;
}

.Card3_02:hover .Img_Card3 {
  -webkit-filter: blur(8px) grayscale(100%);
}

.Card3_02:hover .OverlayImg_Card3 {
  -webkit-filter: blur(8px);
  background-color: #F5CB5C;
}

.Card4_02 {
  width: 100%;
  height: 100%;
  text-align: center;
}

.Card4_02 h2 {
  position: absolute;
  margin: 0;
  font-size: 60px;
  bottom: 20px;
  top: 75%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
}

.Img_Card4 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../Poze/DR4.jpg");
  background-size: cover;
  background-position: right;
  z-index: 3;
  filter: grayscale(100%);
  filter: blur(0px);
  -webkit-filter: blur(0px);
  border-radius: 100px;
  transition: 0.5s;
}

.OverlayImg_Card4 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: #242423;
  opacity: 0.5;
  border-radius: 100px;
  transition: 0.5s;
}

.Card4_03:hover .Img_Card4 {
  -webkit-filter: blur(8px) grayscale(100%);
}

.Card4_03:hover .OverlayImg_Card4 {
  -webkit-filter: blur(8px);
  background-color: #F5CB5C;
}

#Section_03 {
  margin: 0;
  margin-top: -250px;
  width: 100vw;
  height: 80vh;
  background-color: #242423;
  position: relative;
}

.Continut_S03 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 250px;
}


.Titlu1_03 {
  margin: 0;
  font-size: 100px;
  position: absolute;
  color: #F5CB5C;
  z-index: 3;
  top: 100px;
  left: 105px;
}

.Titlu2_03 {
  margin: 0;
  font-size: 100px;
  position: absolute;
  color: #FFFFFF;
  z-index: 2;
  top: 100px;
  left: 100px;
}

.Continut_S03 ul {
  list-style: none;
}

.Continut_S03 li {
  position: relative;
  display: inline-block;
  margin-top: 5%;
  margin-left: 4%;
  width: 20%;
  height: 50vh;
}

.Continut_S03 button {
  all: unset;
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 50vh;
}

.Card5_03 {
  width: 100%;
  height: 100%;
  text-align: center;
}

.Card5_03 h2 {
  position: absolute;
  margin: 0;
  font-size: 60px;
  bottom: 20px;
  top: 75%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
}

.Img_Card5 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../Poze/DR5.jpg");
  background-size: cover;
  background-position: right;
  z-index: 3;
  filter: grayscale(100%);
  filter: blur(0px);
  -webkit-filter: blur(0px);
  border-radius: 100px;
  transition: 0.5s;
}

.OverlayImg_Card5 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: #242423;
  opacity: 0.5;
  border-radius: 100px;
  transition: 0.5s;
}

.Card5_03:hover .Img_Card5 {
  -webkit-filter: blur(8px) grayscale(100%);
}

.Card5_03:hover .OverlayImg_Card5 {
  -webkit-filter: blur(8px);
  background-color: #F5CB5C;
}

.Card6_03 {
  width: 100%;
  height: 100%;
  text-align: center;
}

.Card6_03 h2 {
  position: absolute;
  margin: 0;
  font-size: 60px;
  bottom: 20px;
  top: 75%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
}

.Img_Card6 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../Poze/DR6.jpg");
  background-size: cover;
  background-position: 60% 50%;
  z-index: 3;
  filter: grayscale(100%);
  filter: blur(0px);
  -webkit-filter: blur(0px);
  border-radius: 100px;
  transition: 0.5s;
}

.OverlayImg_Card6 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: #242423;
  opacity: 0.5;
  border-radius: 100px;
  transition: 0.5s;
}

.Card6_03:hover .Img_Card6 {
  -webkit-filter: blur(8px) grayscale(100%);
}

.Card6_03:hover .OverlayImg_Card6 {
  -webkit-filter: blur(8px);
  background-color: #F5CB5C;
}

.Card7_03 {
  width: 100%;
  height: 100%;
  text-align: center;
}

.Card7_03 h2 {
  position: absolute;
  margin: 0;
  font-size: 60px;
  bottom: 20px;
  top: 75%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
}

.Img_Card7 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../Poze/DR7.jpg");
  background-size: cover;
  background-position: 30% 50%;
  z-index: 3;
  filter: grayscale(100%);
  filter: blur(0px);
  -webkit-filter: blur(0px);
  border-radius: 100px;
  transition: 0.5s;
}

.OverlayImg_Card7 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: #242423;
  opacity: 0.5;
  border-radius: 100px;
  transition: 0.5s;
}

.Card7_03:hover .Img_Card7 {
  -webkit-filter: blur(8px) grayscale(100%);
}

.Card7_03:hover .OverlayImg_Card7 {
  -webkit-filter: blur(8px);
  background-color: #F5CB5C;
}

.Card8_03 {
  width: 100%;
  height: 100%;
  text-align: center;
}

.Card8_03 h2 {
  position: absolute;
  margin: 0;
  font-size: 60px;
  bottom: 20px;
  top: 75%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
}

.Img_Card8 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../Poze/DR8.jpg");
  background-size: cover;
  background-position: right;
  z-index: 3;
  filter: grayscale(100%);
  filter: blur(0px);
  -webkit-filter: blur(0px);
  border-radius: 100px;
  transition: 0.5s;
}

.OverlayImg_Card8 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: #242423;
  opacity: 0.5;
  border-radius: 100px;
  transition: 0.5s;
}

.Card8_03:hover .Img_Card8 {
  -webkit-filter: blur(8px) grayscale(100%);
}

.Card8_03:hover .OverlayImg_Card8 {
  -webkit-filter: blur(8px);
  background-color: #F5CB5C;
}

.container {
  width: 992px;
  margin: 0 auto;
}

.Buton {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.Buton:Active {
  transform: scale(0.9);
}

.Inchidere-Modal {
  background: none;
  border: none;
  font-size: 40px;
  margin: 0;
  color: #FFFFFF;
}

.Modal {
  color: #FFFFFF;
  display: none;
  width: 70vw;
  max-height: 82vh;
  position: fixed;
  overflow-y: scroll;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 1s ease;
  border-radius: 40px;
  z-index: 100;
  background-color: transparent;
}

.Modal.Activ {
  display: block;
}

.Modal .Header_Modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #F5CB5C;
  font-family: Regular;
  font-size: 30px;
}

.Modal .Body_Modal {
  padding: 30px;
  background-color: #242423;
  font-family: Light;
  font-size: 25px;
  text-align: justify;
  text-indent: 30px;
}

#Overlay_Modal {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

#Overlay_Modal.Activ {
  display: block;
}
